.display-table {
   display: table;
   width: 100%;
   table-layout: fixed;
}

.table-cell {
  padding: 6px 12px;
  display: table-cell;
  border-color: #fff;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  color: black;
} 

.grouped {
  border-top: 1px; 
  border-style: solid; 
  border-color: rgba(76, 161, 175, 0.8); 
  border-radius: 6px;
} 

.internalLabel {
    display: inline-block;
    width: 100%;
    padding: 12px 1.5rem;
    margin: 1em 0;
    color:rgba(76, 161, 175, 0.8); 
    font-size: 14px;
    font-family: 'lato', 'arial', sans-serif;
}

.row {
  display: table-row;
}

.table .row {
  background: #E3EEFF;
}

.table .row:nth-child(1) {
  background-color: #4CA1AF;
  color: #fff;
}

.table .row:hover {
  background: #E3EEFF;  
}

.table .row:nth-child(1):hover {
  background: #4CA1AF;
}