/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
  color: #555;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}

h2 {
  font-family: 'lato', 'arial', sans-serif;
  font-size: 150%;
  font-weight: 300;
  letter-spacing: 2px;
	transition: font-size 0.3s;
  word-spacing: 4px;
}

h1 {
	font-family: 'lato', 'arial', sans-serif;
  font-size: 150%;
  font-weight: 300;
  letter-spacing: 2px;
	transition: font-size 0.3s;
  word-spacing: 4px;
}

h3 {
  font-family: 'lato', 'arial', sans-serif;
  font-weight: 300;
}

fieldset {
  border-style: none;
  clear: both;
}

@font-face {
  font-family: "EricssonCapital";
  src: url("/assets/font/ericssoncapitaltt-webfont.ttf");
}

.loading {
  opacity: 0;
  transition: opacity .8s ease-in-out;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  background: #fff;
  z-index: -1;
}

.loading > h1 {
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* .loading screen is visible when app is not bootstraped yet, .my-app is empty */
my-app:empty + .loading {
    opacity: 1;
    z-index: 100;
}

input, button {
  outline: none;
  border: none;
}

.body {
  left: 90px;
  position: absolute;
  top: 90px;
  width: calc(100% - 90px);
  padding-top: 40px;
  padding-bottom: 100px;
  padding-left: 30px;
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 40px 10px;
  width: calc(100% - 92px);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
}

.display-table {
   display: table;
   width: calc(100% - 92px);
   table-layout: fixed;
}

.row {
  display: table-row;
}

.table .row {
  background: #E3EEFF;
}

.table .row:nth-child(1) {
  background-color: #4CA1AF;
  color: #fff;
}

.table .row:hover {
  background: #83D6DE;  
}

.table .row:nth-child(1):hover {
  background: #4CA1AF;
}

.cell{
  padding: 6px 12px;
  display: table-cell;
  border-color: #fff;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}

.page-header {
  width: 100%;
  left: 92px;
  top: 0;
  color: #fff;
  background-color: #4CA1AF;
  padding: 40px;
  display: block;
  position: fixed;
  z-index: 5;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  GRID OF FOUR   ============================================================================= */

.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 74.6%; 
}

.span_2_of_4 {
	width: 49.2%; 
}

.span_1_of_4 {
	width: 23.8%; 
}

.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 66.13%; 
}

.span_1_of_3 {
	width: 32.26%; 
}

.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

.span_1_of_6 {
  	width: 15.33%;
}
.span_7_of_7 {
	width: 100%;
}

.span_6_of_7 {
	width: 85.48%;
}

.span_5_of_7 {
  	width: 70.97%;
}

.span_4_of_7 {
  	width: 56.45%;
}

.span_3_of_7 {
  	width: 41.94%;
}

.span_2_of_7 {
  	width: 27.42%;
}

.span_1_of_7 {
  	width: 12.91%;
}
.span_5_of_5 {
	width: 100%;
}

.span_4_of_5 {
  	width: 79.68%; 
}

.span_3_of_5 {
  	width: 59.36%; 
}

.span_2_of_5 {
  	width: 39.04%;
}

.span_1_of_5 {
  	width: 18.72%;
}

/* Text box*/

input {
  color: #3e3e3e;
}

.group { 
  position: relative; 
  margin-top: 30px;
  margin-bottom: 10px; 
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.inputMaterial, .inputMaterial:disabled {
  font-size: 18px;
  padding: 10px 0px 10px 0px;
  display: block;
  border: none;
  border-bottom: 1px solid #dfdfdf;
  outline:none;
  background-color: white;
}

.text-input-label {
  color: #999; 
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 10px;
  transition: 0.2s ease all;
}

.error-text-input-label {
  color: #e74c3c; 
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 50px;
  transition: 0.2s ease all;
}

.inputMaterial:disabled ~ .text-input-label		{
  top: -12px;
  font-size: 14px;
  color: #4CA1AF;
}

/* active state */
.inputMaterial:focus ~ .text-input-label		{
  top: -12px;
  font-size: 14px;
  color: #4CA1AF;
}

.inputMaterial:valid ~ .text-input-label {
  top: -12px;
  font-size: 14px;
  color: #4CA1AF;
}

.inputMaterial:read-only ~ .text-input-label {
  top: -12px;
  font-size: 14px;
  color: #4CA1AF;
}

.inputMaterial:read-only {
  color: #afafaf;
}

.read-only ~ .text-input-label {
  top: -15px;
  font-size: 14px;
  color: #4CA1AF;
}

.read-only {
  color: #afafaf;
}

/* BOTTOM BARS ================================= */
.bar { 
  position: relative; 
  display: block; 
}

.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: #009688; 
  transition:0.2s ease all; 
}

.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

.error-bar:before, .error-bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: #e74c3c; 
  transition:0.2s ease all; 
}

.error-bar:before {
  left:50%;
}
.error-bar:after {
  right:50%; 
}

.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width:50%;
}

.inputMaterial ~ .error-bar:before, .inputMaterial ~ .error-bar:after {
  width:50%;
}

.inputMaterial:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.input-size-extra-small {
  width: 15rem;
}

.input-size-small {
  width: 20rem;
}

.input-size-medium {
  width: 25rem;
}

.input-size-large {
  width: 30rem;
}

.input-size-extra-large {
  width: 35rem;
}

app-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.context-menu {
  width: 200px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  z-index: 7;
  background-color: white;
}

.context-menu-item {
  padding: 10px;
}

.context-menu-item:hover {
  background-color: #4CA1AF;
  color: #fff;
}

/* Modal Content */
.modal-small {
    top: 50%;
    left: calc(50% + 90px);
    transform: translate(-60%, -40%);
    position: fixed;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    z-index: 5;
}

.modal-medium {
    top: 50%;
    left: calc(50% + 90px);
    transform: translate(-60%, -40%);
    position: fixed;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 30rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    z-index: 5;
}

@keyframes animatetop {
    from {opacity:0}
    to {opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 20px 40px;
    background-color: #4CA1AF;
    color: white;
}

.modal-body {padding: 20px 40px;}

.btn {
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border: none;
    margin-top: 3px;
    font-size: 18px;
    background-color: #4CA1AF;
    transition: background-color 0.3s;
	  pointer-events: auto;
    margin: 40px 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}

/*Combo*/

.select-fancy {
	display: inline-block;
	border: 1px solid #e5e5e5;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.4);
  top: 15px;
}

.select-fancy, .select-fancy > * {
	cursor: pointer;
}

.select-fancy select {
	background: #fff;
	border: 0;
	outline: 0;
	padding: 5px 0 5px 8px;
	font-size: 12px;
	height: 35px;
	user-select: none;
  font-size: 18px;
  color: #3e3e3e;
}

select * {
    color: #999; 
  font-size: 14px;
}

.combo-group .text-input-label {
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: -6px;
  color: #4CA1AF;
}

.select-fancy-image {
	/*background: url("http://css.yipitcdn.com/img/arrow-down.png") no-repeat right;*/
}
/*Combo Ends*/


/******Ripple Effect*************/
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
.ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}

/*************Ripple Effect Ends***************/

.circle-btn{
    background: url("/assets/img/ic_add_white_24px.svg") no-repeat 13px center;
    width:50px;
    height: 50px;
    border-radius:100%;
    color:#fff;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: none; 
    background-color: #4CA1AF;
    text-decoration: none;
    z-index: 100;
}
.circle-btn > .material-icons{font-size:20px;}

.circle-btn-fixed {
  position: fixed;
    bottom: 1rem;
    right: 1rem;
}


.back-btn{
    background: url("/assets/img/ic_replay_white_24px.svg") no-repeat 13px center;
    width:50px;
    height: 50px;
    border-radius:100%;
    color:#fff;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: none; 
    background-color: #4CA1AF;
    text-decoration: none;
    z-index: 100;
}
.back-btn > .material-icons{font-size:20px;}

.back-btn-fixed {
  position: fixed;
    top: 7rem;
    right: 1rem;
}

.previous-btn {
    width:40px;
    height: 40px;
    border-radius:100%;
    color:#4CA1AF;
    border-color:#4CA1AF;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: none; 
    background-color: #fff;
    text-decoration: none;
    border-width:2px;
    border-style: solid;
    margin: 0 5px;
}

.next-btn {
    width:40px;
    height: 40px;
    border-radius:100%;
    color:#fff;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: none; 
    background-color: #4CA1AF;
    text-decoration: none;
    margin: 0 5px;
}

.center {
  text-align: center;
}


.btn:disabled {
  opacity: 0.5;
}

.page-status {
  color:#4CA1AF;
  font-family: 'lato', 'arial', sans-serif;
  font-size: 14px;
  margin: 10px;
  word-spacing: 10px;
}


/********Tab********/

.tab-header {
  display: block;
  float: left;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: rgba(76, 161, 175, 0.5);
  position:relative;
  padding: 15px 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tab-radio {
        display: none;
        clear: both;
    }

.tab-content {
  display: none;
}

#tab1:checked ~ form #content1,
#tab2:checked ~ form #content2,
#tab3:checked ~ form #content3,
#tab4:checked ~ form #content4 {
  display: block;
}

.tab_container [id^="tab"]:checked + .tab-header {
  background: #fff;
  box-shadow: inset 0 3px #4CA1AF;
  color: #4CA1AF;
}

.tab-radio:disabled ~ .tab-header{
  background-color: #efefef;
  color: #4CA1AF;
}

@keyframes fadeInScale {

  0% { 
  	transform: scale(0.9);
  	opacity: 0;
  }

  100% { 
  	transform: scale(1);
  	opacity: 1;
  } 
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
 animation: fadeInScale 0.7s ease-in-out;
}

.display-table .display-table {
  width:100%;
  padding-right: 50px;
}

/*Field level error*/

.error {
border: 1px solid;
border-color: #D8000C;
color: #D8000C;
border-radius: 4px;
margin: 10px 0px;
padding:8px 6px 8px 10px;
background-repeat: no-repeat;
background-position: 10px center;
}
