<app-side-bar></app-side-bar>

<div class="page-header">
  <h1>Employee Hierarchy Search</h1>
</div>

<div class="body">
  <app-spinner *ngIf="processingInProgress"></app-spinner>
  <div class="row">
    <div class="group">
      <a class="search-btn ripple search-btn-fixed" href="javascript:void(0)" (click)="employeeHierarchySearchForm.ngSubmit.emit()"></a>
    </div>
  </div>
  <form [formGroup]="formGroupSearch" #employeeHierarchySearchForm="ngForm" (ngSubmit)="search()" method="get" class="loginform width-with-right-margin">
    <fieldset [disabled]="processingInProgress">
      <div class="toggle">
        <!-- Checkbox toggle -->
        <input type="checkbox" value="selected" id="employeePersonalDetails" class="toggle-input">
        <label for="employeePersonalDetails" class="toggle-label">Employee Personal Details</label>

        <div role="toggle" class="toggle-content">
          <div class="display-table inner-component-width">
            <div class="row">
              <div class="cell span_1_of_3">
                <div class="group">
                  <input #firstName list="firstName" class="inputMaterial span_4_of_4" type="text" formControlName="firstName" required>
                  <datalist id="firstName">
                    <option *ngFor="let firstNameSuggestion of autoCompleteSuggestions.firstNameSuggestions" value="{{firstNameSuggestion.firstName}}">
                  </datalist>
                  <label class="text-input-label">First Name</label>
                  <span class="highlight"></span>
                  <span class="bar span_4_of_4"></span>
                </div>
              </div>
              <div class="cell span_1_of_3">
                <div class="group">
                  <input #middleName list="middleName" class="inputMaterial span_4_of_4" type="text" formControlName="middleName" required>
                  <datalist id="middleName">
                    <option *ngFor="let middleNameSuggestion of autoCompleteSuggestions.middleNameSuggestions" value="{{middleNameSuggestion.middleName}}">
                  </datalist>
                  <label class="text-input-label">Middle Name</label>
                  <span class="highlight"></span>
                  <span class="bar span_4_of_4"></span>
                </div>
              </div>
              <div class="cell span_1_of_3">
                <div class="group">
                  <input #lastName list="lastName" class="inputMaterial span_4_of_4" type="text" formControlName="lastName" required>
                  <datalist id="lastName">
                    <option *ngFor="let lastNameSuggestion of autoCompleteSuggestions.lastNameSuggestions" value="{{lastNameSuggestion.lastName}}">
                  </datalist>
                  <label class="text-input-label">Last Name</label>
                  <span class="highlight"></span>
                  <span class="bar span_4_of_4"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="cell span_1_of_3">
                <div class="group combo-group">
                  <label class="text-input-label">Sex</label>
                  <div class="select select-fancy select-fancy-image span_4_of_4">
                    <select class="span_4_of_4" formControlName="sex">
                  <option value=""></option>
                  <option value="MALE">Male</option>
                  <option value="FEMALE">Female</option>
                  <option value="OTHERS">Others</option>
                </select>
                  </div>
                </div>
              </div>
              <div class="cell span_1_of_3">
                <div class="group combo-group">
                  <label class="text-input-label">Identity Document</label>
                  <div class="select select-fancy select-fancy-image span_4_of_4">
                    <select class="span_4_of_4" formControlName="identityDocTypeId">
                  <option value=""></option>
                  <option *ngFor="let identityDocType of identityDocTypes" value="{{identityDocType.docTypeId}}">{{identityDocType.docTypeName}}</option>
                </select>
                  </div>
                </div>
              </div>
              <div class="cell span_1_of_3">
                <div class="group">
                  <input #identityDocNumber class="inputMaterial span_4_of_4" type="text" formControlName="identityDocNumber" required>
                  <label class="text-input-label">Identity Document Number</label>
                  <span class="highlight"></span>
                  <span class="bar span_4_of_4"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="cell span_1_of_3">
                <div class="group">
                  <input #employeeId class="inputMaterial span_4_of_4" type="text" formControlName="employeeId" required>
                  <label class="text-input-label">Employee Id</label>
                  <span class="highlight"></span>
                  <span class="bar span_4_of_4"></span>
                </div>
              </div>
              <div class="cell span_1_of_3">
                <div class="group">
                  <input #emailId list="emailId" class="inputMaterial span_4_of_4" type="text" formControlName="emailId" required>
                  <datalist id="emailId">
                    <option *ngFor="let emailIdSuggestion of autoCompleteSuggestions.emailIdSuggestions" value="{{emailIdSuggestion.emailId}}">
                  </datalist>
                  <label class="text-input-label">Email Id</label>
                  <span class="highlight"></span>
                  <span class="bar span_4_of_4"></span>
                </div>
              </div>
              <div class="cell span_1_of_3">
                <div class="group combo-group">
                  <label class="text-input-label">Employment Type</label>
                  <div class="select select-fancy select-fancy-image span_4_of_4">
                    <select class="span_4_of_4" formControlName="empType">
                  <option value="PERMANENT">Permanent</option>
                  <option value="CONTRACT">Contract</option>
                </select>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="toggle">
        <!-- Checkbox toggle -->
        <input type="checkbox" value="selected" id="organizationalInformation" class="toggle-input">
        <label for="organizationalInformation" class="toggle-label">Organizational Information</label>

        <div role="toggle" class="toggle-content">

          <div class="display-table inner-component-width">
            <div class="row">
              <div class="cell span_1_of_3">
                <div class="group combo-group">
                  <label class="text-input-label">Organization</label>
                  <div class="select select-fancy select-fancy-image span_4_of_4">
                    <select class="span_4_of_4" #organizationId formControlName="orgId" (change)="onOrgChange(organizationId.value)">
                  <option value=""></option>
                  <option *ngFor="let organization of organizations" value="{{organization.orgId}}">{{organization.orgName}}</option>
                </select>
                  </div>
                </div>
              </div>
              <div class="cell span_1_of_3">
                <div class="group combo-group">
                  <label class="text-input-label">Unit</label>
                  <div class="select select-fancy select-fancy-image span_4_of_4">
                    <select class="span_4_of_4" #unitId formControlName="unitId" (change)="onUnitChange(unitId.value)">
                  <option value=""></option>
                  <option *ngFor="let unit of units" value="{{unit.unitId}}">{{unit.unitName}}</option>
                </select>
                  </div>
                </div>
              </div>
              <div class="cell span_1_of_3">
                <div class="group combo-group">
                  <label class="text-input-label">Department</label>
                  <div class="select select-fancy select-fancy-image span_4_of_4">
                    <select class="span_4_of_4" formControlName="departmentId">
                  <option value=""></option>
                  <option *ngFor="let department of departments" value="{{department.departmentId}}">{{department.departmentName}}</option>
                </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="cell span_1_of_3">
                <div class="group combo-group">
                  <label class="text-input-label">Grade</label>
                  <div class="select select-fancy select-fancy-image span_4_of_4">
                    <select class="span_4_of_4" formControlName="jobRoleId" #jobRoleId (change)="onGradeChange(jobRoleId.value)">
                  <option value=""></option>
                  <option *ngFor="let jobRole of jobRoles" value="{{jobRole.jobRoleId}}">{{jobRole.grade.gradeName}}</option>
                </select>
                  </div>
                </div>
              </div>
              <div class="cell span_1_of_3">
                <div class="group combo-group">
                  <label class="text-input-label">Designation</label>
                  <div class="select select-fancy select-fancy-image span_4_of_4">
                    <select class="span_4_of_4" formControlName="designationId">
                  <option value=""></option>
                  <option *ngFor="let designation of designations" value="{{designation.designationId}}">{{designation.designationName}}</option>
                </select>
                  </div>
                </div>
              </div>
              <div class="cell span_1_of_3">
                <div class="group combo-group">
                  <label class="text-input-label">Is Supervisor?</label>
                  <div class="select select-fancy select-fancy-image span_4_of_4">
                    <select class="span_4_of_4" formControlName="isSupervisor">
                  <option value=""></option>
                  <option value="YES">Yes</option>
                  <option value="NO">No</option>
                </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="cell span_1_of_3">
                <div class="group combo-group">
                  <label class="text-input-label">Is HR?</label>
                  <div class="select select-fancy select-fancy-image span_4_of_4">
                    <select class="span_4_of_4" formControlName="isHr">
                  <option value=""></option>
                  <option value="YES">Yes</option>
                  <option value="NO">No</option>
                </select>
                  </div>
                </div>
              </div>
              <div class="cell span_1_of_3">
                <div class="group">
                  <input #supervisorEmailId list="supervisorEmailId" class="inputMaterial span_4_of_4" type="text" formControlName="supervisorEmailId"
                    required>
                  <datalist id="supervisorEmailId">
                    <option *ngFor="let supervisorEmailIdSuggestion of autoCompleteSuggestions.supervisorEmailIdSuggestions" value="{{supervisorEmailIdSuggestion.supervisorEmailId}}">
                  </datalist>
                  <label class="text-input-label">Supervisor Email</label>
                  <span class="highlight"></span>
                  <span class="bar span_4_of_4"></span>
                </div>
              </div>
              <div class="cell span_1_of_3">
                <div class="group">
                  <input #hrEmailId list="hrEmailId" class="inputMaterial span_4_of_4" type="text" formControlName="hrEmailId" required>
                  <datalist id="hrEmailId">
                    <option *ngFor="let hrEmailIdSuggestion of autoCompleteSuggestions.hrEmailIdSuggestions" value="{{hrEmailIdSuggestion.hrEmailId}}">
                  </datalist>
                  <label class="text-input-label">HR Email</label>
                  <span class="highlight"></span>
                  <span class="bar span_4_of_4"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <button type="submit" class="btn ripple">Search</button>
      </div>
    </fieldset>
  </form>
</div>