.profile-bg {
    width: 100%;
    top:90px;
    position: relative;
    padding: 0;
    height: 280px;
    background: url("/assets/img/profilebg-min.jpg") no-repeat center bottom fixed;
    background-size: cover;
    overflow: auto;
}

.profile-bg:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right, #0F6177, #c0392b);
	opacity: .6; 
}

.profile-pic {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 160px;
    top: 140px;
    z-index: 5;
    border-width: 5px;
    border-color: #fff;
    border-style: solid;
}

.profile-pic {
    cursor: pointer;
}

.name-header {
    color: #fff;
    font-family: ElMessiri-Regular;
    font-size: 2rem;
    text-align: left;
    padding: 6rem 8rem 2rem 8rem;
}

.name-sub-header {
    color: #fff;
    font-family: ElMessiri-Regular;
    font-size: 1rem;
    text-align: left;
    padding-left: 8rem;
    padding-bottom: 0.5rem;
}

.profile-header {
    position: absolute;
    left: 270px;
    top: 40px;
    z-index: 5;    
}

.edit-btn {
    top: 320px;
    background: url("../../assets/img/ic_create_white_24px.svg") no-repeat 13px center;
    width:50px;
    height: 50px;
    border-radius:100%;
    color:#fff;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: none; 
    background-color: #4CA1AF;
    text-decoration: none;
    z-index: 24;
}
.edit-btn > .material-icons{font-size:20px;}

.edit-btn-fixed {
    position: absolute;
    right: 4px;
}