<app-side-bar></app-side-bar>
<div class="modal-small">
  <div class="modal-header">
    <h1>Change Password</h1>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" (ngSubmit)="onClick()" method="post" class="loginform">
      <fieldset [disabled]="isProcessingInProgress()">

        <div class="group">
          <input class="inputMaterial input-size-small" formControlName="currentPassword" type="password" required>
          <label>Current Password</label>
          <span class="highlight"></span>
          <span class="bar input-size-small"></span>
        </div>
        <div class="group">
          <input class="inputMaterial input-size-small" formControlName="newPassword" type="password" required>
          <label>New Password</label>
          <span class="highlight"></span>
          <span class="bar input-size-small"></span>
        </div>
        <div class="group">
          <input class="inputMaterial input-size-small" formControlName="confirmedPassword" type="password" required>
          <label>Confirm Password</label>
          <span class="highlight"></span>
          <span class="bar input-size-small"></span>
        </div>
        <button type="submit" class="btn">Change</button>
        <button type="submit" class="btn" (click)="onCancel()">Cancel</button>
      </fieldset>
    </form>
    

  </div>
</div>