<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorinterval="300" status="info" strict="true">
	<Properties>
		<Property name="filePath">${env:HRMS_HOME}/log</Property>
		<Property name="filename">${env:HRMS_HOME}/log/hrms
		</Property>
		<property name="logSize">10 MB</property>
	</Properties>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%n" />
		</Console>
		<RollingFile name="RollingFileRegular" fileName="${filename}.log"
			filePattern="${filePath}/hrms-%d{yyyy-dd-MM}-%i.log">
			<Filters>
				<MarkerFilter marker="SQL" onMatch="ACCEPT" onMismatch="NEUTRAL" />
			</Filters>
			<PatternLayout>
				<Pattern>%d{HH:mm:ss,SSS} %m%n
				</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="${logSize}" />

			</Policies>
		</RollingFile>
		<RollingFile name="RollingFileError" fileName="${filename}_error.log"
			filePattern="${filePath}/sample_error-%d{yyyy-dd-MM}-%i.log"
			immediateFlush="true">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss,SSS} %p %c{1.}[%L] [%t] %m%n
				</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="${logSize}" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<AsyncLogger name="com" level="debug">
			<AppenderRef ref="RollingFileRegular" />
		</AsyncLogger>
		<AsyncLogger name="org" level="info">
			<AppenderRef ref="RollingFileRegular" />
		</AsyncLogger>
		<Root includeLocation="true" level="trace">
			<AppenderRef ref="RollingFileError" level="error" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>
