a {
  color: #fff;
}

.sidebar {
    background-color: #0F6177;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transition: width 0.5s;
    width: 70px;
    z-index: 30;
}

.sidebar:after {
  content: "";
  border: 1px solid #fff;
  height: 100%;
  position:absolute;
  left: 70px;
}

.menu {
  position:absolute;
  top: 90px;
  width: 0;
  opacity: 0;
  left: 90px;
  z-index: 30;
  padding-bottom: 150px;
}

.show-menu {
  animation: show-menu-animation;
  width: 60rem;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  margin: 0;
}

@keyframes show-menu-animation {
  0% {
    opacity: 0;
    left: 0rem;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 3rem;
  }
}

.username {
  color: #fff;
  padding-bottom: 5px;
  text-align: right;
}

.change-password {
  position: relative;
  color: white;
  padding: 8px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: right;  
}

.menu-header {
  color: white;
  font-size: 20px;
  text-align: left;
  color: #4ca1af;
  border-bottom: solid 1px #4ca1af;
  padding-top: 15px;
}

.menu-subheader {
  color: white;
  padding-bottom: 1.2rem;
  font-size: 20px;
}

.menu-item {
  font-family: 'lato', 'arial', sans-serif;
  position: relative;
  color: white;
  padding: 4px 0;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-decoration: none;
}

.menu li {
  list-style-type: none;
}

.menu-item:after {
  padding-top: 2px;
  display:block;
  content: '';
  border-bottom: solid 1px #fff;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.menu-item:hover:after { transform: scaleX(1); }

.menu-icon {
  top: 2rem;
  width: 60px;
  height: 45px;
  position: absolute;
  transition: .5s ease-in-out;
  cursor: pointer;
  transform: rotate(0deg) scale(0.5) translateX(-50%);
  left: 18px;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu-icon span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.menu-icon span:nth-child(2) {
  top: 18px;
  transform-origin: left center;
}

.menu-icon span:nth-child(3) {
  top: 36px;
  transform-origin: left center;
}

.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.menu-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.sidebar-open {
    width: 60rem;
}

.sidebar-row {
    max-width: 40rem;
    margin: 0 auto 0 8rem;
    width:100%;
}

.home-icon {
  top: 15rem;
  left: 22px;
  transform: scale(0.7) translateX(-50%);
  width: 60px;
  height: 45px;
  position: absolute;
  padding: 0;
  cursor: pointer;
  margin: 20px 10px;
}

.span1 {
  height:40px; 
  width:40px; 
  display:block; 
  position:relative;
} 

.span1:before {
  content:''; 
  height:10px; 
  width:5px; 
  display:block; 
  position:absolute; 
  top:6px; 
  left:28px; 
  background:#fff;
}

.span1:after {
  content:''; 
  height:24px; 
  width:23px; 
  border-top:4px #fff solid; 
  border-right:4px #fff solid; 
  position:absolute; 
  top:8px; 
  left:7px; 
  transform:scale(1,0.8) rotate(-45deg);
}

.span2 { 
  width:29px; 
  height:20px; 
  display:block; 
  position:absolute; 
  top:18px; 
  left:6px; 
  border:4px solid #fff; 
  border-width:0 4px;}

.span2:before {
  content:''; 
  height:4px; 
  width:4px; 
  display:block; 
  position:absolute; 
  top:6px; 
  left:6px; 
  background:#fff; 
  box-shadow:5px 0 0 #fff, 0 5px 0 #fff, 5px 5px 0 #fff;}


.logout-icon {
  top: 18rem;
  left: 25px;
  transform: scale(0.7) translateX(-50%);
  width: 60px;
  height: 45px;
  position: absolute;
  padding: 0;
  cursor: pointer;
  margin: 20px 10px;  
}

.span3 {
  display:block; 
  position:relative; 
} 

.span3 {
  height:35px; 
  width:35px; 
  border:3px #fff solid; 
  border-radius:100%;
}

.span3:before {
  content:''; 
  left: 7px; 
  top: 7px;
  height:15px; 
  width:15px; 
  background:#fff; 
  border-radius:100%; 
  position:absolute; 
}
