<div class="sidebar" [ngClass]="{'sidebar-open': getOpen() === true}">
  <div class="menu-icon" title="Menu" (click)="changeClass()" [ngClass]="{'open': getOpen() === true}">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="home-icon" title="Home" (click)="goHome()">
    <span class="span1">
      <span class="span2">
      </span>
    </span>
  </div>
  <div class="logout-icon" title="Logout" (click)="onClickLogout()">
    <span class="span3">
    </span>
  </div>
</div>
<div class="menu" [ngClass]="{'show-menu': getOpen() === true}" *ngIf="getOpen()">
  <div class="sidebar-row">
    <div class="col span_4_of_4">
      <h1 class="username">{{getUserName()}}</h1>
      <p class="change-password"><a (click)="onClickChangePassword()">Change Password</a></p>
    </div>
  </div>
  <div class="sidebar-row">
    <div class="col span_4_of_4">
      <h2 class="menu-header">Accounting Reports</h2>
    </div>
  </div>
  <div class="sidebar-row">
    <div class="col span_2_of_4">
      <ol>
        <li><a class="menu-item">Balance Sheet</a></li>
      </ol>
    </div>
    <div class="col span_2_of_4">
      <ol>
        <li><a class="menu-item">Trial Balance</a></li>
      </ol>
    </div>
  </div>
  <div class="sidebar-row">
    <div class="col span_4_of_4">
      <h2 class="menu-header">Accounting Configuration</h2>
    </div>
  </div>
  <div class="sidebar-row">
    <div class="col span_2_of_4">
      <ol>
        <li><a class="menu-item">College Code Management</a></li>
        <li><a class="menu-item">Department Code Management</a></li>
        <li><a class="menu-item">Charge Type Management</a></li>
      </ol>
    </div>
    <div class="col span_2_of_4">
      <ol>
        <li><a class="menu-item">Transaction Type Management</a></li>
        <li><a class="menu-item" (click)="onClickAccountMgmt()">GL Account Management</a></li>
        <li><a class="menu-item">Accounting Rules Management</a></li>
      </ol>
    </div>
  </div>
  <div class="sidebar-row">
    <div class="col span_4_of_4">
      <h2 class="menu-header">HRMS Activities</h2>
    </div>
  </div>
  <div class="sidebar-row">
    <div class="col span_2_of_4">
      <ol>
        <li><a class="menu-item" (click)="onClickUserDetails()">My Details</a></li>
        <li><a class="menu-item" (click)="onClickEmployeeHierarchySearch()">Employee Hierarchy Search</a></li>
      </ol>
    </div>
    <div class="col span_2_of_4">
      <ol>
        <li><a class="menu-item" (click)="onClickEmployeeCreation()">Employee Creation</a></li>
      </ol>
    </div>
  </div>
  <!--<div class="sidebar-row">
    <div class="col span_4_of_4">
      <h2 class="menu-header">System Administration</h2>
    </div>
  </div>
  <div class="sidebar-row">
    <div class="col span_2_of_4">
      <ol>
        <li><a class="menu-item">User Management</a></li>
      </ol>
    </div>
    <div class="col span_2_of_4">
      <ol>
        <li><a class="menu-item">Role Management</a></li>
      </ol>
    </div>
  </div>-->
</div>
<div class="modal-backdrop" *ngIf="getShowChangePassword()">
  <div class="modal-small">
    <app-spinner *ngIf="isProcessingInProgress()"></app-spinner>
    <div class="modal-header">
      <h1>Change Password</h1>
    </div>
    <div class="modal-body">
      <form [formGroup]="formGroup" (ngSubmit)="onChangePassword()" method="post" class="loginform">
        <fieldset [disabled]="isProcessingInProgress()">
          <div class="display-table inner-component-width">
            <div class="row">
              <div class="cell span_4_of4">
                <div class="group">
                  <input class="inputMaterial" formControlName="currentPassword" type="password" required>
                  <label class="text-input-label">Current Password</label>
                  <label *ngIf="isFieldValueMissing('currentPassword')" class="error-text-input-label">Please enter your current password.</label>
                  <span class="highlight"></span>
                  <span class="input-size-small" [ngClass]="getErrorClass('currentPassword')"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="cell span_4_of4">
                <div class="group">
                  <input class="inputMaterial" formControlName="newPassword" type="password" required>
                  <label class="text-input-label">New Password</label>
                  <label *ngIf="isFieldValueMissing('newPassword')" class="error-text-input-label">Please enter your new password.</label>
                  <label *ngIf="isValueInvalid('newPassword')" class="error-text-input-label">Please enter atleast six characters.</label>
                  <span class="highlight"></span>
                  <span class="input-size-small" [ngClass]="getErrorClass('newPassword')"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="cell span_4_of4">
                <div class="group">
                  <input class="inputMaterial" formControlName="confirmedPassword" type="password" required>
                  <label class="text-input-label">Confirm Password</label>
                  <label *ngIf="isFieldValueMissing('confirmedPassword')" class="error-text-input-label">Please confirm your new password.</label>
                  <label *ngIf="isConfirmedPasswordNotMatching()" class="error-text-input-label">The confirmed password is not matching.</label>
                  <span class="highlight"></span>
                  <span class="input-size-small" [ngClass]="getErrorClass('confirmedPassword')"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="cell span_4_of4">
                <div class="group">
                  <button type="submit" class="btn ripple" [disabled]="formGroup.invalid">Change</button>
                  <button type="button" class="btn ripple" (click)="onCancelChangePassword()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="changePasswordMessage!==''">
  <div class="modal-small">
    <div class="modal-header">
      <h1>Message</h1>
    </div>
    <div class="modal-body">
      <div class="group center">
        <p>{{changePasswordMessage}}</p>
        <button type="button" class="btn ripple" (click)="OnClickOk()">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="getShowLogoutMessage()">
  <div class="modal-small">
    <app-spinner *ngIf="isProcessingInProgress()"></app-spinner>
    <div class="modal-header">
      <h1>Alert</h1>
    </div>
    <div class="modal-body">
      <div class="group center">
        <h3>Are you sure you want to logout ?</h3>
        <div style="height:30px;">
        </div>
        <button type="button" class="btn ripple" (click)="logout()">Yes</button>
        <button type="button" class="btn ripple" (click)="onCancelLogout()">No</button>
      </div>
    </div>
  </div>
</div>