<app-side-bar></app-side-bar>

<div class="page-header">
  <h1>GL Account Management</h1>
</div>

<div class="context-menu" [ngStyle]="getContextMenuCss()">
  <div class="context-menu-item" (click)="onModifyClick()">Modify</div>
  <div class="context-menu-item" (click)="onDeleteClick()">Delete</div>
</div>

<div class="body">

  <app-spinner *ngIf="processingInProgress"></app-spinner>
  <div class="row">
    <div class="group">
      <a class="circle-btn ripple circle-btn-fixed" href="javascript:void(0)" (click)="showCreateAccountDialog()"></a>
    </div>
  </div>

  <div class="row">
    <div class="cell span_1_of_4">
      <div class="group">
        <input #accountCode class="inputMaterial span_4_of_4" type="text" (keyup)="filterAccount()" required>
        <label>Account Code</label>
        <span class="highlight"></span>
        <span class="bar span_4_of_4"></span>
      </div>
    </div>
    <div class="cell span_2_of_4">
      <div class="group">
        <input #accountName class="inputMaterial span_4_of_4" type="text" (keyup)="filterAccount()" required>
        <label>Account Name</label>
        <span class="highlight"></span>
        <span class="bar span_4_of_4"></span>
      </div>
    </div>
    <div class="cell span_1_of_4">
      <div class="group combo-group">
        <label>Account Type</label>
        <div class="select select-fancy select-fancy-image span_4_of_4">
          <select #accountType class="span_4_of_4" (change)="filterAccount()">
            <option> - Select - </option>
            <option>Asset</option>
            <option>Liability</option>
            <option>Equity</option>
            <option>Income</option>
            <option>Expense</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="table" #table>

    <div class="row">
      <div class="cell span_1_of_4">
        Account Code
      </div>
      <div class="cell span_2_of_4">
        Account Name
      </div>
      <div class="cell span_1_of_4">
        Account Type
      </div>
    </div>


    <div class="row" *ngFor="let account of accounts" (contextmenu)="onRightClick($event, account.accountCode, account.accountName, account.accountType)">
      <div class="cell">
        {{account.accountCode}}
      </div>
      <div class="cell">
        {{account.accountName}}
      </div>
      <div class="cell">
        {{account.accountType}}
      </div>
    </div>
  </div>
</div>

<div class="modal-medium" *ngIf="getShowModifyAccount()">
  <app-spinner *ngIf="processingModifyInProgress"></app-spinner>
  <div class="modal-header">
    <h1>GL Account Modification</h1>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroupModify" (ngSubmit)="modify()" method="post" class="loginform">
      <fieldset [disabled]="isProcessingInProgress()">

        <div class="group">
          <input class="inputMaterial input-size-medium" readOnly formControlName="accountCode" type="text" value="{{account.accountCode}}" required>
          <label>Account Code</label>
          <span class="highlight"></span>
          <span class="bar input-size-medium"></span>
        </div>
        <div class="group">
          <input class="inputMaterial input-size-medium" formControlName="accountName" type="text" value="{{account.accountName}}" required>
          <label>Account Name</label>
          <span class="highlight"></span>
          <span class="bar input-size-medium"></span>
        </div>
        <div class="group combo-group">
          <label>Account Type</label>
          <div class="select select-fancy select-fancy-image">
            <select class="input-size-medium" formControlName="accountType" value="{{account.accountType}}">
            <option value="ASSET">Asset</option>
            <option value="LIABILITY">Liability</option>
            <option value="EQUITY">Equity</option>
            <option value="INCOME">Income</option>
            <option value="EXPENSE">Expense</option>
          </select>
          </div>
        </div>
        <button type="submit" [disabled]="!formGroupModify.valid" class="btn ripple">Modify</button>
        <button type="button" class="btn ripple" (click)="onCancelCreateAccount()">Cancel</button>
      </fieldset>
    </form>
  </div>
</div>

<div class="modal-medium" *ngIf="getShowCreateAccount()">
  <app-spinner *ngIf="processingCreateInProgress"></app-spinner>
  <div class="modal-header">
    <h1>GL Account Creation</h1>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroupCreate" (ngSubmit)="create()" method="post" class="loginform">
      <fieldset [disabled]="isProcessingInProgress()">

        <div class="group">
          <input class="inputMaterial input-size-medium" formControlName="accountCode" type="text" required>
          <label>Account Code</label>
          <span class="highlight"></span>
          <span class="bar input-size-medium"></span>
        </div>
        <div class="group">
          <input class="inputMaterial input-size-medium" formControlName="accountName" type="text" required>
          <label>Account Name</label>
          <span class="highlight"></span>
          <span class="bar input-size-medium"></span>
        </div>
        <div class="group combo-group">
          <label>Account Type</label>
          <div class="select select-fancy select-fancy-image">
            <select formControlName="accountType" class="input-size-medium">
            <option value="ASSET">Asset</option>
            <option value="LIABILITY">Liability</option>
            <option value="EQUITY">Equity</option>
            <option value="INCOME">Income</option>
            <option value="EXPENSE">Expense</option>
          </select>
          </div>
        </div>
        <button type="submit" [disabled]="!formGroupCreate.valid" class="btn ripple">Create</button>
        <button type="button" class="btn ripple" (click)="onCancelCreateAccount()">Cancel</button>
      </fieldset>
    </form>
  </div>
</div>

<div class="modal-small" *ngIf="getShowInformationMessageBox()">
  <div class="modal-header">
    <h1>Information</h1>
  </div>
  <div class="modal-body">
    <div class="group">
      <p>{{informationMessage}}</p>
      <button type="button center" class="btn ripple" (click)="OnClickMessageBoxOk()">OK</button>
    </div>
  </div>
</div>

<div class="modal-small" *ngIf="getShowConfirmationMessageBox()">
  <div class="modal-header">
    <h1>Confirmation</h1>
  </div>
  <div class="modal-body">
    <div class="group">
      <p>{{confirmationMessage}}</p>
      <button type="button" class="btn ripple" (click)="OnClickConfirmationBoxYes()">Yes</button>
      <button type="button" class="btn ripple" (click)="OnClickConfirmationBoxNo()">No</button>
    </div>
  </div>
</div>